*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
		background-color: lightgray;
	}
	h1{
		color: lightred;
		text-align: center;
		font-size: 50px;
		margin-bottom: 10px;
	}
	div{
		float: left;
		font-size: 24px;
		margin-bottom: 30px;
		padding: 0px 0px 10px 10px;
	}
	#div1{
		background-color: #885656;
		width: 95%;
		height: 450px;
		border: 2px solid black;
		margin-left: 20px;
		color: orange;
	}
	#div2{
		background-color: #12FFBB;
		width: 95%;
		height: 450px;
		border: 2px solid black;
		margin-left: 20px;
		color: paleblue;
	}
	#div3{
		background-color: #FFCC12;
		width: 95%;
		height: 450px;
		border: 2px solid black;
		margin-left: 20px;
	}
	.p1{
		width: 120px;
		height:30px;
		font-size: 30px;
		background-color: cornflowerblue;
		color: red;
		text-align: center;
		margin-top: 0px;
		float: right;
		border: 2px solid black;
		border-top: 0px;
		border-right: 1px;
	}
	#section1{
		clear: right;
		margin-top: 20px;
	}
	.p2{
		width: 120px;
		height:30px;
		font-size: 26px;
		margin-top: 0;
		background-color:violet;
		color: blue;
		border: 2px solid black;
		text-align: center;
		float: right;
		border-top: 0px;
		border-right: 1px;
	}
	#section2{
		clear: right;
		margin-top: 20px;
	}
	.p3{
		width: 120px;
		height:30px;
		font-size: 30px;
		margin-top: 0;
		background-color:hotpink;
		color: darkgreen;
		border: 2px solid black;
		text-align: center;
		float: right;
		border-top: 0px;
		border-right: 1px;
	}
	#section3{
		clear: right;
		margin-top: 20px;
	}

  @media only screen and (max-width: 758px){
   #div1{
		width: 95%%;	
	}
	#div2{
		width: 95%%;
	}
	#div3{
		width:95%%;
	}
 }
@media only screen and (min-width: 759px){
   #div1{
		width: 46%;	
	}
	#div2{
		width: 46%;
	}
	#div3{
		width:95%;
	}
 }
 @media only screen and (min-width: 1000px){
   #div1{
		width: 30%;	
	}
	#div2{
		width: 30%;
	}
	#div3{
		width:30%;
	}
 }
 