body{
		background-color: lightgray;
	}
	h1{
		color: lightred;
		text-align: center;
		font-size: 50px;
	}
	div{
		float: left;
		font-size: 24px;
		margin-bottom: 30px;
		padding: 0px 0px 10px 10px;
	}
	#div1{
		background-color: #885656;
		width: 400px;
		height: 350px;
		border: 2px solid black;
		margin-left: 20px;
		color: orange;
	}
	#div2{
		background-color: #12FFBB;
		width: 400px;
		height: 350px;
		border: 2px solid black;
		margin-left: 20px;
		color: paleblue;
	}
	#div3{
		background-color: #FFCC12;
		width: 400px;
		height: 350px;
		border: 2px solid black;
		margin-left: 20px;
	}
	.p1{
		width: 120px;
		height:30px;
		font-size: 30px;
		background-color: cornflowerblue;
		color: red;
		text-align: center;
		margin-top: 0px;
		float: right;
		border: 2px solid black;
		border-top: 0px;
		border-right: 1px;
	}
	#section1{
		clear: right;
	}
	.p2{
		width: 120px;
		height:30px;
		font-size: 26px;
		margin-top: 0;
		background-color:violet;
		color: blue;
		border: 2px solid black;
		text-align: center;
		float: right;
		border-top: 0px;
		border-right: 1px;
	}
	#section2{
		clear: right;
	}
	.p3{
		width: 120px;
		height:30px;
		font-size: 30px;
		margin-top: 0;
		background-color:hotpink;
		color: darkgreen;
		border: 2px solid black;
		text-align: center;
		float: right;
		border-top: 0px;
		border-right: 1px;
	}
	#section3{
		clear: right;
	}
    @media (min-width: 1200px){
    	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,
    	.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
    		float: left;
    	}
    	.col-lg-1{
    		width: 8.33%;
    	}
    	.col-lg-2{
    		width: 16.66% ;
    	}
    	.col-lg-3{
    		width: 25%;
    	}
    	.col-lg-4{
    		width: 33%;
    	}
    	.col-lg-5{
    		width: 41.66%;
    	}
    	.col-lg-6{
    		width:50% ;
    	}
    	.col-lg-7{
    		width: 58.33%;
    	}
    	.col-lg-8{
    		width: 66.66%;
    	}
    	.col-lg-9{
    		width: 74.99%;
    	}
    	.col-lg-10{
    		width: 83.33;
    	}
    	.col-lg-11{
    		width: 91.66;
    	}
    	.col-lg-12{
    		width: 100%;
    	}

      }
      @media (min-width: 925px) and (max-width: 1199px){
      	#div1{
      		width: 46%;
      	}
      	#div2{
      		width: 46%;
      	}
      	#div3{
      		width: 95%;
      	}
      }
      @media(max-width: 924px){
      	#div1{
      		width: 95%;
      	}
      	#div2{
      		width: 95%;
      	}
      	#div3{
      		width: 95%;
      	}
      }